<div class="nested-fields">
<%= f.input :ingredient_id, collection: Ingredient.all, class: "form-control" %>
<%= f.input :description, class: "form-control" %>
<%= link_to_remove_association "remove dose", f %>
</div>
